.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Rocio-temporal/
Data/Topics/NewBestTopicModel15_alpha_1_method_VEM_filtered_II.rds
Data/Dictionary/Papers-Term/
Data/ProcessedQueries/
Rocio/
Data/fulltext/
